*.iq8s
*.pyc
*.log*
*.csv

# Keep the example CSV
!example.csv

# Don't include the generated CSV related files
generated/
allICAO.py
hackRFAllICAO.sh
allLat.py
hackRFAllLat.sh
allAlt.py
hackRFAllAlt.sh
